:root {
  --background-sidebar: #161b22;
  --sidebar-btn: #e6edf3;
  --sidebar-btn-hover: #a971ff;
  --chart-background-color: #ffffff;

  --background-main: #f5f7fa;
  --background-card: #1f2630; 
  --background-card-hover: #2a3443; 

  --text-primary: #e6edf3;
  --text-secondary: #c0c6d4;
  --text-accent: #a971ff; 
  --shadow-light: rgba(169, 113, 255, 0.2);
  --shadow-dark: rgba(10, 14, 24, 0.7);
}
